html, body, #home {
    min-height: 100vh;
}

body {
    background: url(../img/capa.png),
                url(../img/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
}

nav.navbar-transparencia {
    background: rgba(0, 0, 0, 0.5);
}

.divisor {
    display: none;
    width: 1px;
    color: rgba(255, 255, 255, 0.5);
    margin: auto 10px auto 8px;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home h1 {
    letter-spacing: -0.05em;
}

#home a[name=botao] {
    background: rgba(123, 1, 180, 0.5);
    border: 1px solid rgb(255, 255, 255);
}

#home a[name=botao]:hover {
    background: rgb(165, 3, 235);
    border: 1px solid rgb(165, 3, 235);
}

#servicos {
    background: white;
    padding-top: 20px;
    padding-bottom: 0px;
}

#servicos h2 {
    color: #7c25f8;
}

#servicos h3 {
    color: #7c25f8;
}

#servicos h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#servicos h3 {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: -0.04em;
}

#recursos {
    padding-top: 20px;
    padding-bottom: 0px;
}

#recursos h2 {
    color: white;
}

#recursos h3 {
    color: rgb(245, 245, 245);
}

#recursos h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
    text-shadow: black 1px 2px 0px;
}

#recursos h3 {
    font-size: 2em;
    font-weight: 400;
    letter-spacing: -0.04em;
    text-shadow: black 1px 1px 0px;
}

#recursos p {
    color: whitesmoke;
}

#recursos .rotacionar {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
            margin: 0 70px 0 auto;
            width: 70%;
}

#recursos .rotacionar.row {
   
}

#rodape {
    background: black;
    padding: 40px 0px 15px 0px;
    position: relative;
}

#rodape .espaco {
    margin-bottom: 20px;
}

#rodape h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    text-transform: uppercase;
}

#rodape .company a, .comunidades a, .links-uteis a {
    color: white;
    font-size: 14px;
    width: 180px;
}

#rodape .company a:hover, .comunidades a:hover, .links-uteis a:hover {
    color: rgba(255, 255, 255, 0.5);
}

#rodape .redes-sociais {
    gap: 10px;
    flex-direction: row;
    margin-top: 20px;
}

#rodape .redes-sociais a {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    width: 50px;
}

#rodape .redes-sociais a:hover {
    background: rgba(255, 255, 255, 1);
    scale: 1.1;
}

#rodape .redes-sociais i {
    color: white;
    font-size: 30px;
}

#rodape .redes-sociais a:hover i {
    color: black;
    scale: 1.2;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #home h1 {
        font-size: 3em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #home h1 {
        font-size: 4em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #home h1 {
        font-size: 5em;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #home h1 {
        font-size: 6em;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #home h1 {
        font-size: 7em;
    }
}

/* Below 992px */
@media (max-width: 992px) {
    #home a[name=botao] {
        margin-bottom: 1em;
    }
}

@media (max-width: 991px) and (min-width: 742px) {
    #servicos h2 {
        font-size: 2.2em;
    }
}